.EditableListItem {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  padding: 1rem;
  align-items: center;
  border: 1px solid black;

  .rank {
    margin-right: 10px;
    padding: 4px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background: #f3cd5a;
    border-radius: 4px;
  }

  span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .trash-container {
    margin-left: auto;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #EF8677;
  }
}